{% extends "layout.html" %}
{% load static %}

{% block title %} 登录 {% endblock %}

{% block CSS %}
    <style>
        .box01 {
            width: 500px;
            min-height: 130px;
            margin: 150px auto 0 auto;
            border: 2px solid #dddddd;
            padding: 0 20px 20px 20px;
        }

        .box01 h2 {
            text-align: center;
        }
    </style>
{% endblock %}



{% block content %}

    <div class="box01">
        <h2>用户登录</h2>
        <form class="form-horizontal" method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    {{ form.name }}
                    <span style="color: red">{{ form.username.errors.0 }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="pwd" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    {{ form.psw }}
                    <span style="color: red">{{ form.password.errors.0 }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="code" class="col-sm-2 control-label">验证码</label>
                <div class="row">
                    <div class="col-sm-5">
                        {{ form.code }}
                        <span style="color: red">{{ form.code.errors.0 }}</span>
                    </div>
                    <div class="col-sm-4">
                        <img src="/image/code/" style="width: 133px; height: 33px" alt="check_code">
                    </div>
                </div>
            </div>
            {#            <div class="form-group">#}
            {#                <label for="sms" class="col-sm-2 control-label">短信验证码</label>#}
            {#                <div class="row">#}
            {#                    <div class="col-sm-5">#}
            {#                        <input type="text" class="form-control" id="sms" placeholder="请输入短信验证码">#}
            {#                    </div>#}
            {#                    <div class="col-sm-4">#}
            {#                        <input type="button" class="btn btn-primary btn-block" value="发送验证码" disabled="disabled">#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">登录</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}