{% extends "layout.html" %}
{% load static %}
{% block title %} 排行榜 {% endblock %}
{% block CSS %}
    <style>
        .movie-poster {
            max-width: 100px;
            margin-right: 10px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center">电影排行榜</h1>
        <ol class="list-group">
            {% for rank, obj in obj_dict.items %}
                <a href="/movie/detail/{{ obj.id }}" class="item">
                    <li class="list-group-item clearfix">
                        <img src="/static/IMDBInfo/poster/{{ obj.imdb_id }}.jpg" alt="电影封面"
                             class="movie-poster pull-left">
                        <span class="pull-left"><strong>{{ obj.name }}</strong></span>
                        <span class="pull-right">第 {{ rank }} 名</span>
                    </li>
                </a>
            {% endfor %}
        </ol>
    </div>
{% endblock %}