{% extends "layout.html" %}
{% block CSS %}
    <style>
        .item {
            display: block;
            float: left;
            font-size: 15px;
            text-align: center;
            margin: 0 25px 20px 0;
            width: 200px;
        }

        .item .poster_div {
            height: 340px;
            overflow: hidden;
        }

        li {
            height: 45px;
            width: 115px;
        }

        .page {
            display: flex;
            justify-content: center;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">电影类别</div>
            <div class="panel-body">
                <ul class="nav nav-pills">
                    {% for genre in genres %}
                        <li role="presentation" class="{% if gid == genre.id %} active {% endif %}"
                            style="text-align: center">
                            <a href="/movie/genre/{{ genre.id }}/">{{ genre.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
    <!--展示电影图片用-->
    <div class="container" style="margin-bottom: 20px">
        {% for movie in queryset %}
            <a href="/movie/detail/{{ movie.id }}" class="item">
                <div class="poster_div">
                    <img src="/static/IMDBInfo/poster/{{ movie.imdb_id }}.jpg" alt="电影封面">
                    <p>{{ movie.name }}
                        <strong style="color:#e09015">{{ movie.get_score }}</strong>
                    </p>

                </div>
            </a>
        {% endfor %}
    </div>

    <div class="container page">
        <ul class="pagination">
            {{ page_string }}
        </ul>
    </div>

{% endblock %}



