{% extends "layout.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">添加用户</div>
            <div class="panel-body">
                <form action="/user/add/" method="post" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <lable>{{ field.label }}</lable>
                            {{ field }}
                            <span style="color: red">{{ field.errors.0 }}</span>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <button type="submit" class="btn btn-primary">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}

