{% extends "layout.html" %}
{% load static %}
{% block title %} 个人空间 {% endblock %}
{% block CSS %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% with icon_path='icons/'|add:nav_info.icon %}
                    <img src="{% static icon_path %}" alt="用户头像" class="user-avatar" style="max-width: 150px;
        border-radius: 50%; border: black; ">
                {% endwith %}
            </div>
            <div class="col-md-8">
                <h2>{{ nav_info.username }}</h2>
                <ul class="list-group" style="margin-top: 80px">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <a href="/user/history/">评论过的电影</a>
                        <span class="badge">{{ m_cnt }}</span>
                    </li>
                    <li class="list-group-item" >
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        评论
                        <span class="badge">{{ c_cnt }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <span style="font-weight: bold">上次登录时间：{{ user.login_time|date:"Y-m-d H:i:s" }}</span>
        </div>
    </div>
{% endblock %}