{% extends "layout.html" %}
{% block CSS %}
    <style>
        .poster {
            float: left;
            margin: 3px 12px 0 0;
            overflow: hidden;
            text-align: center;
        }

        .info {
            margin-top: 15px;
            float: left;
            word-wrap: break-word;
        }

        hr {
            -moz-border-bottom-colors: none;
            -moz-border-image: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-color: #c9302c;
            border-style: solid none;
            border-width: 1px 0;
            margin: 18px 0;
        }

        .page {
            display: flex;
            justify-content: center;
        }

    </style>
{% endblock %}

{% block content %}

    {% for rating in queryset %}
        <div class="container">
            <div class="poster">
                <a href="#" class="item">
                    <div class="poster_div">
                        <img src="/static/IMDBInfo/poster/{{ rating.movie.imdb_id }}.jpg" alt="电影封面">
                    </div>
                </a>
            </div>
            <div class="info">
                <p>
                    电影名：
                    {{ rating.movie.name }}
                    <span>
                    {% for foo in rating.movie.get_score_int_range %}
                        ❤
                    {% endfor %}
                    </span>
                    <strong style="color:#e09015">{{ rating.movie.get_score }}</strong>
                </p>
                <p>
                    我的评分:
                    <strong style="color:#e09015">{{ rating.score }} </strong>
                    我的评论:
                    <strong>{{ rating.comment }}</strong>
                </p>
                {#                <a href="#">#}
                <button type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-trash">
                        删除评论
                    </span>
                </button>
                {#                </a>#}
            </div>

        </div>
        <div class="container">
            <hr>
        </div>
    {% endfor %}

    <div class="container page">
        <ul class="pagination">
            {{ page_string }}
        </ul>
    </div>

{% endblock %}